<div class='container text-center'>
  <h3>Login</h3>

  <%= bootstrap_form_for @student, url: login_path do |f| %>
    <%= f.text_field :email %><br>

    <%= f.password_field :password %><br>

    <%= f.submit "Login"%>
    <% end %>
</div>
