<div class='container text-center'>
  <h2>Current Assignments</h2>

  <% @student.assignments.all.each do |assignment| %>
    <%= assignment.title %>, <%= assignment.course.course_name %>, <%= assignment.due_date %><br>
  <% end %><br>

  <%= link_to "Add Assignment", new_student_assignment_path(@student) %>
</div>
