<%= render "partials/navbar" %>

<div class='container text-center'>
  <%= form_for(@course, url: student_course_path) do |f| %>
    <label>Course name:</label><br>
    <%= f.text_field :course_name %><br><br>
    <%= f.submit %>
    <% end %>
</div>
