<%= render "partials/navbar" %>

  <div class='container text-center'>
    <h2>My Current Schedule</h2>

    <table class='center table-bordered table-hover'>
      <tr>
        <th>Course Name</th>
        <th>View</th>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.course_name %></td>
          <td><%= link_to "View/Edit Course", student_course_path(@student, course.id) %></td>
        </tr>
      <% end %>
    </table><br>

    <%= button_to "Add New Course", new_student_course_path, :class => "inbox-sf-add-btn tip", :method => :get %>
  </div>
