<div class='container text-center'>
  <h2>Add A Course</h2>

  <%= form_for(@course, url: student_courses_path) do |f| %>
    <%= f.label "Course Name" %>
    <%= f.text_field :course_name %><br><br>
    <%= f.submit %>
    <% end %>
</div>
