<div class='container text-center'>
  <h2> <%= @course.course_name %> </h2>
  <% @course.assignments.all.each do |assignment| %>
    <%= assignment.title %>, <%= assignment.course.course_name %>, <%= assignment.due_date %><br>
  <% end %>
</div>
