<%= render "partials/navbar" %>

<div class='container text-center'>
  <h2>Add A Category</h2>
  <div class="col-sm">
  </div>
  <%= bootstrap_form_for(@category, url: student_categories_path) do |f| %>
    <%= f.text_field :title %><br><br>
    <%= f.primary %>
    <% end %>
  <div class="col-sm">
  </div>
</div>
